/*fonts*/
body {
  background-image: url(./src/img/funda4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Ajusta el CSS del header */
header {
  background-color: #0b4763;
  padding: 10px;
  transition: transform 0.3s ease, padding 0.3s ease; /* Añadido transform a la transición */
  transform: translateY(0); /* Estado inicial */
}

header.shrink {
  transform: translateY(
    -60px
  ); /* Ajusta el valor según la altura que quieras ocultar */
  padding: 5px; /* Puedes ajustar este padding si es necesario */
}

header img {
  max-width: 100%;
  border-radius: 700px; /* Opcional: para bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ajusta el difuminado según tu preferencia */
  transition: box-shadow 0.3s ease; /* Para un efecto suave al pasar el ratón */
}

header img:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7); /* Efecto al pasar el ratón, opcional */
}

.container-header {
  display: flex;
  align-items: center;
}
.container-img {
  flex: 30%;
}
.container-titulo {
  flex: 70%;
}

.container-titulo h1 {
  font-family: Bebas Neue;
  color: rgb(60, 148, 207);
  text-align: center;
  font-size: 5vw;
  margin: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}

.block-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formulario {
  background-image: url(./src/img/background1.jpg);
  background-color: rgba(217, 238, 243, 0.877);
  border-radius: 20px;
  text-align: center;
  font-family: handjet;
  font-size: 25px;
  padding: 30px;
  border: 2px solid #0ebdd4c0;
  width: 100%;
  max-width: 800px; /* Ajusta este valor según tus preferencias */
  box-sizing: border-box;
  margin: 0 auto; /* Centra el formulario en la pantalla */
}
label {
  color: rgb(185, 11, 11);
}

.container-tkt-tecnico,
.container-test {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  gap: 10px; /* Espacio entre los elementos */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(88, 86, 86);
  font-size: 1.1em;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%; /* Ajusta el ancho al contenedor */
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #09b3d1;
  font-size: 1em;
  box-sizing: border-box;
}

textarea {
  border-radius: 10px;
  height: auto; /* Para que el alto se ajuste automáticamente */
  max-height: 300px; /* Ajusta el valor según tus necesidades */
  overflow: hidden; /* Oculta el scrollbar si el contenido excede el tamaño */
  resize: none; /* Desactiva el redimensionamiento manual */
}

.boton-container {
  text-align: center;
  margin-top: 20px;
}

.boton {
  background-color: rgb(13, 184, 236);
  color: rgb(255, 255, 255);
  font-size: large;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  background-color: rgba(2, 32, 66, 0.699);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

input,
option {
  font-size: 22px;
}

@media (max-width: 600px) {
  .formulario {
    padding: 10px;
    max-width: 100%; /* Asegura que el formulario se ajuste completamente en pantallas pequeñas */
  }

  .form-group label {
    font-size: 1em;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    font-size: 0.9em;
  }

  .boton {
    font-size: medium;
    height: 40px;
    width: 120px;
  }
}
